/Biblioteca.EntidadesdeNegocio/nbproject/private/
/Biblioteca.AppWeb/nbproject/private/
/Biblioteca.AccesoADatos/nbproject/private/
/Biblioteca.AccesoADatos/build/
/Biblioteca.EntidadesdeNegocio/build/
/Biblioteca.EntidadesdeNegocio/dist/
/Biblioteca.AppWeb/build/
/Biblioteca.AccesoADatos/dist/
/Biblioteca.AccesoADatos_1/nbproject/private/
